.footer {
  padding: rem(20) 0;
  background-color: #080f18;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    
    @media (max-width: 425px) {
      flex-direction: column;
      align-items: center;
    }

    svg {
      margin-top: 10px;

      @media (max-width: 1024px) {
        width: 150px;
      }
    }

    h4 {
      color: #cbcbcb;
      font-size: 16px;
      font-weight: 500;

      @media (max-width: 768px) {
        max-width: 300px;
        text-align: center;
      }
    }

    p {
      color: #cbcbcb;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
