.header {
  width: 100%;
  z-index: 50;
  box-shadow: $shadow;
  position: sticky;
  top: 0px;
  background-color: #ffffff;

  &__logo {
    margin-top: 10px;

    @media (max-width: 1024px) {
      svg {
        width: 150px;
      }
    }
  }

  &__wrapper {
    min-width: 100%;
    height: var(--headerHeight);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .1s linear;
  }

  &__menu {
    .menu {
      &__list {
        display: flex;
      }

      &__item {
        background-color: transparent;
        transition: .35s linear;
        cursor: pointer;
        border-radius: $defaultBorderRadius;

        a {
          padding: 10px clamp(10px, 1vw, 20px);
          display: inline-block;
          width: 100%;
          color: $primaryTextColor;
          font-size: 20px;
        }

        &:hover {
          background-color: $primaryColor;

          a {
            color: $lightTextColor;
          }
        }

        &--active {
          background-color: $primaryColor;
          border-radius: $defaultBorderRadius;

          a {
            color: $lightTextColor;
          }

          &:hover {
            background-color: $primaryColor;
          }
        }

        &:not(:last-child) {
          margin-right: clamp(10px, 2vw, 30px);

          @media (max-width: 1200px) {
            margin-right: clamp(6px, 0.5vw, 30px);
          }
        }
      }

      &__button {
        display: none;
      }
    }
  }

  .burger {
    display: none;
  }

  &__button {
    font-size: 20px;

    @media (max-width: 1024px) {
      padding: 10px 20px !important;
    }
  }

  @media (max-width: 880px) {
    .menu {
      background-color: #ffffff;
      position: fixed;
      top: calc(var(--headerHeight) - 1px);
      right: 0;
      width: 300px;
      height: calc(100dvh - var(--headerHeight));
      box-shadow: $shadow;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      z-index: 60;
      transform: translateX(100%);
      transition: transform $defaultTransition;
      animation: hide 0.3s;

      &--opened {
        transform: translateX(0%);
      }

      &__list {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
      }

      &__item {
        width: 100%;
        text-align: center;

        &:not(:last-child) {
          border-bottom: 1px solid $primaryBorderColor;
          margin: 0px 0px 10px;
        }
      }

      &__button {
        display: flex;
      }
    }

    &__button {
      display: none;
      box-shadow: $shadow;
    }

    .burger {
      display: block;
      background-color: transparent;
      position: absolute;
      z-index: 5000;
      right: 0;
      cursor: pointer;

      svg {
        padding: 5px;
        width: 60px;
        height: 60px;
        box-shadow: $shadow;
        border-radius: $defaultBorderRadius;
      }

      &__line {
        fill: none;
        stroke: $primaryColor;
        stroke-width: 3;
        -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
          stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
        -o-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
          stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
          stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);

        &:first-child {
          stroke-dasharray: 60 207;
          stroke-width: 3;
        }

        &:nth-child(2) {
          stroke-dasharray: 60 60;
          stroke-width: 3;
        }

        &:last-child {
          stroke-dasharray: 60 207;
          stroke-width: 3;
        }
      }

      &--opened {
        .burger {
          &__line {
            &:first-child {
              stroke-dasharray: 90 207;
              stroke-dashoffset: -134;
              stroke-width: 3;
            }

            &:nth-child(2) {
              stroke-dasharray: 1 60;
              stroke-dashoffset: -30;
              stroke-width: 3;
            }

            &:last-child {
              stroke-dasharray: 90 207;
              stroke-dashoffset: -134;
              stroke-width: 3;
            }
          }
        }
      }
    }
  }
}
