.section {
  padding: clamp(20px, 5vw, 50px) 0px;
  background-color: #ffffff;

  &:not(:first-child) {
    scroll-margin-top: var(--headerHeight);

    @media (max-width: 768px) {
      scroll-margin-top: 60px;
    }
  }

  &:nth-child(2n) {
    background-color: $secondaryBgColor;
  }

  &__title {
    margin-bottom: 30px;

    h2, mark {
      font-family: Inter;
      font-size: clamp(22px, 3vw, 45px);
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: $primaryTextColor;

      mark {
        background-color: transparent;
        color: $primaryColor;
      }
    }
  }

  &#contacts {
    background-color: #080f18;

    .section__title {
      h2 {
        color: #ffffff;
      }
    }
  }
}
