[class*='__container'] {
  max-width: rem($containerWidth + $mainOffset * 2);
  margin: 0 auto;
  padding: 0 rem($mainOffset);

  @media (max-width: 768px) {
    padding: 0 10px;
  }
}

[class*='--hidden'] {
  display: none !important;
}